*{
    padding: 0;
    margin: 0;
    
}

section, #ttt {
    font-family: sans-serif;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


body{
    overflow: hidden;
    
}

#menu{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-div{
    height: 80%;
    width: 80%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.menu{
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    gap: 70px 0;
}

#menu a{
   
   color: white;
    
}

#ttt{
    font-family: sans-serif;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}



#ttt-header{
    background: rgb(37, 74, 143);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ttt-header ul{
    color: white;
}

.box{
width: 125px;
height: 125px;
border: 2px solid;
box-shadow: 0 0 0 2px;
line-height: 105px;
font-size: 120px;
cursor: pointer;
display: flex;
justify-content: center;
overflow: hidden;
}


.box-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 375px;
    
}